registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
fsevents_binary_host_mirror=http://npmmirror.com/mirrors/fsevents/
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
sqlite3_cdnurl=https://npmmirror.com/mirrors/sqlite3/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/